
=== Endpoints

{{#apiInfo}}
{{#apis}}
{{#operations}}

[.{{baseName}}]
==== {{baseName}}

{{#operation}}

[.{{nickname}}]
{{#useMethodAndPath}}
===== {{httpMethod}} {{path}}

Operation Id:: {{nickname}}

{{/useMethodAndPath}}
{{^useMethodAndPath}}
===== {{nickname}}

`{{httpMethod}} {{path}}`
{{/useMethodAndPath}}

{{{summary}}}

====== Description

{{{notes}}}

{{#specinclude}}{{path}}/{{httpMethod}}/spec.adoc{{/specinclude}}


{{> params}}

====== Return Type

{{#hasReference}}
{{^returnSimpleType}}{{returnContainer}}[{{/returnSimpleType}}<<{{returnBaseType}}>>{{^returnSimpleType}}]{{/returnSimpleType}}
{{/hasReference}}

{{^hasReference}}
{{#returnType}}<<{{.}}>>{{/returnType}}
{{^returnType}}-{{/returnType}}
{{/hasReference}}

{{#hasProduces}}
====== Content Type

{{#produces}}
* {{{mediaType}}}
{{/produces}}
{{/hasProduces}}

====== Responses

.HTTP Response Codes
[cols="2,3,1"]
|===
| Code | Message | Datatype

{{#responses}}

| {{code}}
| {{message}}
| {{#containerType}}{{dataType}}[<<{{baseType}}>>]{{/containerType}} {{^containerType}}<<{{dataType}}>>{{/containerType}}

{{/responses}}
|===

{{^skipExamples}}
====== Samples

{{#snippetinclude}}{{path}}/{{httpMethod}}/http-request.adoc{{/snippetinclude}}
{{#snippetinclude}}{{path}}/{{httpMethod}}/http-response.adoc{{/snippetinclude}}

{{#snippetlink}}* wiremock data, {{path}}/{{httpMethod}}/{{httpMethod}}.json{{/snippetlink}}
{{/skipExamples}}

ifdef::internal-generation[]
====== Implementation
{{#specinclude}}{{path}}/{{httpMethod}}/implementation.adoc{{/specinclude}}

endif::internal-generation[]

{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

{{> model}}
